body {
    font-family: 'Roboto', sans-serif !important;
    background: #003366;
}

.center {
    position: relative;
    top: 150px;
}

#temperature {
    display: inline-block;
    font-size: 4.2em;
    color: #FEE953;
}

#headline, #error {
    position:relative;
    top: 220px;
}
